* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
font-family: Arial, Helvetica, sans-serif;
}


.header {
    background-color: rgb(24, 145, 216);
    background-image: url("pescaria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 1px 10px rgb(155, 155, 155);
    height: 200px;
    
    
}

h1 {
    margin-top: 60px;
}


.container{
    display: flex;
}

.navbar {
    width:20%;
    background-color: #f8f8f8;
    padding: 30px;
    margin: 10px;
    margin-top: 15px;
    border-style: solid;
    border-color: #f8f8f8;
    border-radius: 5px;
    border-width: 2px;
    box-shadow: 1px 1px 10px rgb(155, 155, 155);
    display: flex;
    justify-content: center;
    text-align: center;

}

.list li {
    list-style: none;
}

.list li a {
    display: block;
    text-decoration: none;
    color: #000000;
    background-color: rgb(139, 212, 255);
    padding: 10px 50px;
    margin-top: 12px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(150, 216, 255);
    box-shadow: 1px 1px 5px rgb(155, 155, 155);
}


.content{
    width: 70%;
    background-color: #f8f8f8;
    height: 600px;
    margin: 10px;
    margin-top: 15px;
    border-style: solid;
    border-color: #f8f8f8;
    border-radius: 5px;
    border-width: 2px;
    box-shadow: 1px 1px 10px rgb(155, 155, 155);
}

.content h2 {
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

}

.content img {
    width: 500px;
    padding: 30px;
}

.content p {
    padding-left: 30px;
}


.footer {
    background-color: rgb(24, 145, 216);
    text-align: center;
    padding: 20px 0;

}
